body {
	background-color:black;
}

.h6, .h5, .h4, .h3, .h2 {
	color: #fdfdfd;
}

.navbar-default {
	background-color: #169D98;
	border-top: none;
	border-color: black;
}

.navbar-default .navbar-toggle {
	border-color: black;
	border-radius: 1px;
	margin-top: 9px;
	margin-bottom: 5px;
	opacity: 0.5;
}

.navbar-default .navbar-brand {
	color: #fdfdfd;	
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fdfdfd;
}