body {
	background-color: #005E5A;
}

.h6, .h5, .h4, .h3, .h2, .h1 {
	color: #fdfdfd;
}

h1, h2, h3, h4, h5, h6, label{
	color: #fdfdfd;
}

a:hover {
	color: #005E5A;
}

.btn-primary {
    color: #fff;
    background-color: #36B3AE;
    border-color: #005E5A;
}

.btn-primary:hover {
	background-color: #005E5A;
}

.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

.container-fluid .jumbotron {
	border-radius: 0px;
}

.navbar {
	
}

.navbar-default {
	background-color: #169D98;
	border-top: none;
	border-color: black;
	border-radius: 0px;
}

.navbar-default .navbar-toggle {
	border: none;
	margin-top: 9px;
	margin-bottom: 5px;
	opacity: 1;
	z-index: 1;
}

.navbar-default .navbar-toggle:focus {
	background-color: transparent;
}

.navbar-default .navbar-brand {
	color: #fdfdfd;	
}

.brand-centered {
	display: flex;
	justify-content: center;
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
}

.socials-centered {
	display: flex;
	justify-content: center;
	width: 100%;
}

.header-nav-item {
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 2px;
}

.navbar-brand {
	display: flex;
	align-items: center;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fdfdfd;
}

.navbar-default .navbar-nav > li > a {
    color: #fdfdfd;
}

.footer {
	background-color: #169D98;
	bottom: 0;
	width: 100%;
	height: 60px;
	position: fixed;
	display: flex;
	align-items: center;
}

.header-nav-item { 
	color: #fdfdfd;
}

.header-nav-item:hover {
	color: #005E5A;
}

.navbar-header .navbar-toggle:hover {
	background-color: #005E5A;
}

@media (min-width: 768px){
	.navbar-nav .open .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: transparent;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.navbar-nav .open .dropdown-menu > li > a {
		line-height: 20px;
	}
	.navbar-nav .open .dropdown-menu > li > a,
	.navbar-nav .open .dropdown-menu .dropdown-header {
		padding: 5px 15px 5px 25px;
	}
	.dropdown-menu > li > a {
		display: block;
		padding: 3px 20px;
		clear: both;
		font-weight: normal;
		line-height: 1.42857143;
		color: #fdfdfd;
		white-space: nowrap;
	}
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        /*margin: 7.5px -15px;*/
		margin: 7.5px 50px 7.5px -15px
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}