/* Utility Styles */
body, html {
	/* background: url(../images/trees2.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; */
	height: 100%;
	font-family: 'Comfortaa', cursive;
}

/* Media Styles (images, videos, embed stuff) */
img {
	width: 100%;
}

.embed-responsive-item {
	width: 50%;
	margin: auto;
}

.front-video {
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 70%;
}

/* Container styles */
.jumbotron {
	background:rgba(0,0,0,0.4);
	color: black;
	margin: 0;
	/* padding: 20px; */
	/* margin-bottom: 50px; */
}

.jumbotron:last-child {
	margin: 0;
}

.wrapper {
	min-height: 100%;
 	padding-top: 90px;
	background: url(../images/trees2.jpg);
	/* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

.container-fluid .jumbotron {
	border-radius: 0px;
}

.jumbotron .container {
	max-width: 70%;
}

.jumbotron h1, h2, h3, h4, h5, h6, label, p {
	color: #fdfdfd;
}

.jumbotron .bio {
	background:rgba(255,255,255,0.8);
}

/* TYPOGRAPHY, LINKS, AND BUTTONS */
.h6, .h5, .h4, .h3, .h2, .h1 {
	color: #fdfdfd;
	font-family: 'Comfortaa', cursive;
}

h1, h2, h3, h4, h5, h6, label, p{
	color: #fdfdfd;
	font-family: 'Comfortaa', cursive;
}

.main-header h1 {
	font-weight: 500;
	font-size: 48px;
}

a:hover {
	color: #005E5A;
}

.btn-primary, .btn-default {
    color: #fff;
    background-color: #36B3AE;
    border-color: #005E5A;
}

.btn-primary:hover , .btn-default:hover{
	background-color: #005E5A;
	color: #fdfdfd;
}

/* NAVIGATION BAR STYLES BELOW */
.navbar {
	display:flex;
	flex-direction: column;
	/* background-color: #169D98;*/
	background:rgba(0,0,0,0.4);
	border: none;
	border-color: black;
	border-radius: 0px;
}

.navbar .navbar-fixed-top{
	margin-bottom: 40px;
}


/* This is for the "title" of the website aka YEWZ Official */
.navbar-brand {
	display: flex;
	align-items: center;
	color: #fdfdfd;
}

.brand-centered {
	display: flex;
	justify-content: center;
	width: 100%;
}

/* This is for the social media icon buttons inside the header/nav bar */
.header-nav-item {
	color: #fdfdfd;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 10px;
}

.header-nav-item:hover {
	color: #005E5A;
}

.socials-centered {
	display: flex;
	justify-content: center;
	width: 100%;
}

/* FOOTER STYLES GO HERE  */
.footer {
	position: relative;
	background:rgba(0,0,0,0.4);
  width: 100%;
  height: 80px;
}

.footer .h6 {
	color: #fdfdfd;
}

.footer .container {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
