{% extends "base.html" %}

{% block app_content %}
	<div class="jumbotron">
		<div class="container">
			<h1 class="display-4">What's new?</h1>
			<div class="embed-responsive embed-responsive-16by9">
				<iframe src="https://www.youtube.com/embed/l-f0NwASnLI?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
			<!-- <p><a class="btn btn-primary btn-lg" href="/contact" role = "button">Learn more</a></p> -->
		</div>
	</div>

	<div class="jumbotron">
		<div class="container">
			<h1 class="display-4">Check out my tracks!</h1>
			<iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/331931490&color=%2361cfcb&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
		</div>
	</div>
{% endblock %}
