{% extends "base.html" %}

{% block app_content %}
	<div class="jumbotron">
		<div class="container">
			<h2>What's new?</h2>
			<div class="embed-responsive embed-responsive-16by9">
				<iframe src="https://www.youtube.com/embed/l-f0NwASnLI?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
			<!-- <p><a class="btn btn-primary btn-lg" href="/contact" role = "button">Learn more</a></p> -->
		</div>
	</div>

	<div class="jumbotron">
		<div class="container">
			<h2>Check out my tracks!</h2>
			<iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/331931490&color=%2361cfcb&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
		</div>
	</div>

	<div class="jumbotron bio">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="col-sm-6">
						<h1>Who is Yewz?</h1>
						<p>A new member of the production industry, and a long-time bass lover/electronic dance music fanatic, Yewz is born. Producing a mixture of mellow, intense, and uplifting tracks, Yewz is currently a student of ill.Gates' Class of 808 in efforts to constantly stride forward in order to produce more innovative and unique music in the electronica world.</p>
						<p>He also plans to finish up his Bachelor's of Science in Computer Software Engineering this year, and eventually provide his development skills to the world on the side.</p>
					</div>
					<div class="col-sm-6 image-container">
						<img src="static/images/bio1.jpg" alt="Yewz Biography Photo 1" class="img-responsive" style="margin-top: 20px">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="jumbotron">
		<div class="container">
			<h1 align="center">Contact Yewz</h1>
			<h5 align="center">Yewzofficial@gmail.com</p>
		</div>
	</div>
{% endblock %}
